  @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
  
/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    margin: 0 auto;
}

body {
    background-color: rgb(17, 75, 6);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
}

/* tela do jogo */
.canvas-jogo {
    width: 99%;
    height: 600px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: rgb(47,178,227);
    background: linear-gradient(180deg, rgba(47,178,227,1) 10%, rgba(255,255,255,1) 100%);
    margin: 0 auto;
    display: flex;
}


/* recorde e atual */
.informacao-jogo {
    padding: 10px;
    position: absolute;
}
.recorde {
    font-size: 0.7em;
}


/* menu */
.menu {
    margin: auto;
    display: block;
    z-index: 10;
    position: relative;
}
.btn {
    width: 100%;
    font-size: 5dvw;
    display: block;
    justify-content: space-around;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(181, 206, 180);
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
}
.btn:hover {
    color: rgb(39, 61, 46);
}


/* creditos */
.informacao-creditos {
    position: relative;
    padding: 30px;
    background-color: rgb(181, 206, 180);
    font-size: 1.5vh;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.30);
    display: none;
    z-index: 10;
    margin: auto;
}
.close {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 3%;
    font-size: 100%;
}
.close:hover {
    color: red;
}


/* botões para pular e abaixar */
.controles {
    margin: 0 auto;
    position: relative;
    width: 99%;
    height: 10vh;
    background-color: aqua;
    display: flex;
}
.botao-up, .botao-down {
    width: 100%;
    background-color: rgb(181, 206, 180);
    border: 1px solid black;
}
.botao-up:active, .botao-down:active {
    box-shadow: rgb(115, 156, 115) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/* mario */
.mario {
    position: absolute;
    width: 15%;
    max-width: 10%;
    bottom: 50px;
    z-index: 25;
}

/* acoes mario */
.jump {
    animation: mario-jump 1s ease-in;
}
.death {
    animation: mario-death 1.5s ease-in ;
}
.duck {
    animation: mario-ducking 1s;
}


/* cano */
.pipe {
    position: absolute;
    bottom: 50px;
    width: 5%;
    right: -5%;
    z-index: 20;
}
/* inimigo */
.bullet {
    position: absolute;
    bottom: 100px;
    width: 5%;
    right: -5%;
    z-index: 20;
}
/*invencibilidade*/
.jet {
    position: absolute;
    width: 40vh;
    display: none;
}


/* ambiente */
#ground {
    width: auto;
    height: 60px;
    min-width: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 555;
    background: url("/assets/ground.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
#clouds {
    position: absolute;
    width: 10%;
    top: 15%; /* 10 ate 20*/
    z-index: 0;
    animation: clouds-animation 100s linear infinite;
}
#montains {
    width: 100%;
    height: 50%;
    position: absolute;
    background: url("/assets/background.png");
    background-repeat:repeat;
    background-position: 0 0;
    background-size: auto 100%;    
    bottom: 0px;
    margin: 0;
    padding: 0;   
}


/* animações */
@keyframes mario-jump {
    0% {
        bottom: 10%px;
    }
    20% {
        bottom: 30%;
    }
    80% {
        bottom: 30%;
    }
    100% {
        bottom: 10%;
    }
}
@keyframes mario-death {
    0% {
        transform: scale(1);
        bottom:10%;
    }
    50% {
        transform: scale(1.1);
        bottom:60%;
    }
    100% {
        transform: scale(1);
        bottom: 50px;
    }
}
@keyframes mario-ducking {
    0% {
        bottom: 50px;
    } 
}

@keyframes pipe-animation {
    0% {
        right: -50%;
    }
    0.5% {
        right: 0%;
    }
    75% {
        right: 100%;
    }
    100% {
        right: 150%;
    }
} 
@keyframes bullet-animation {
    0% {
        right: -500%;
    }
    30% {
        right: 0%;
    }
    99.5% {
        right: 100%;
    }
    100% {
        right: 150%;
    }
    
} 

@keyframes clouds-animation {
    from {
        right: 0px;
    }
    to {
        right: 100%;
    }
} 

@keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 0;
    }
  }

@media screen and (min-width: 500px) {
    .btn {
       font-size: 30px;
    }
}

@media screen and (min-width: 1400px) {
    .mario {
       max-width: 160px;
    }
    .duck {
        max-width: 130px;
    }
    .bullet {
        bottom: 110px;
    }
}

